<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servidor do ReactRack</title>
    <link rel="shortcut icon" href="../favicon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">ReactRack</a>
        <nav class="nav">
            <a href="http://localhost:4000/auth/register">Cadastro</a>
            <a href="http://localhost:4000/auth/login">Login</a>
            <a href="http://localhost:4000/auth/logout">Logout</a>
        </nav>
        <nav class="nav">
            <a href="http://localhost:4000/auth/send-verify-otp">OTP</a>
            <a href="http://localhost:4000/auth/verify-account">Verificação</a>
        </nav>
        <nav class="nav">
            <a href="http://localhost:4000/auth/is-auth">Autenticação</a>
        </nav>
        <nav class="nav">
            <a href="http://localhost:4000/auth/send-reset-otp">Redefinição OTP</a>
            <a href="http://localhost:4000/auth/reset-password">Redefinição Senha</a>
        </nav>
    </header>

    <main class="main-content">
        <section id="hero" class="hero-section">
            <h1 class="hero-title">Bem vindo ao ReactRack</h1>
            <p class="hero-subtitle">Este portfólio reúne uma série de projetos <strong>React</strong>, mostrando minha expertise em criar soluções úteis e robustas, de plataformas simples a complexas.</p>
        </section>

        <section id="projects" class="projects-section">
            <h2 class="section-title">ENDPOINTS</h2>
            <div class="projects-grid">
                </div>
        </section>
        
        <section id="about" class="about-section">
            <h2 class="section-title">Sobre Mim</h2>
            <p>Desenvolvedor full-stack com formação técnica e acadêmica em Análise e Desenvolvimento de Sistemas. Minha especialidade é criar aplicações dinâmicas usando ReactJS no front-end e construir backends robustos com Node.js.</p>
        </section>

        <section id="contact" class="contact-section">
            <h2 class="section-title">Contato</h2>
            <a href="mailto:guisilvadevrc@gmail.com" class="contact-button">Enviar um e-mail</a>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2025 ReactRack by Gui Silva. Todos os direitos reservados.</p>
    </footer>

    <script src="/public/js/home.js"></script>
</body>
</html>