.spinner {
    display: grid;
    place-self: center;
    min-height: 80vh;
}

.spin {
    width: 65px;
    height: 65px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: #4500c6;
    border-radius: 50%;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.coin {
    color: black;
}

.coin-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px auto;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.coin-name img {
    width: 5rem;
}

.coin-name p b {
    font-size: 44px;
    font-weight: 500;
}

.coin-chart {
    max-width: 600px;
    height: 250px;
    margin: auto;
}

.coin-info {
    max-width: 600px;
    margin: -10px auto;
    display: flex;
    flex-direction: column;
}

.coin-info ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #5f5d5f;
    list-style: none;
}

.coin-info ul li:last-child {
    font-weight: 300;
}

@media (max-width: 700px) {
    .coin-name {
        font-size: 2rem;
    }
}