.align{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: -1rem;
}

.title .query-text {
    color: #f7d354;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #111;
    padding: 1rem;
}

.movies-container div img {
    max-width: 100%;
    height: 20rem;
}

.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1em;
}

.movies-container div svg {
    color: #f7d354;
    margin-left: 9.2rem;
}

.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    padding: .7rem .5rem;
    font-size: 1.3rem;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}

.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}